{% extends "layout/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center mt-3">Hola</h1>
        <h4 class="text-center mt-3">Este es un sistema crud para <strong>contactos</strong> y <strong>tareas</strong> ademas cuenta con un <strong> sistema de autenticacion </strong> </h4>
        <h2 class="text-center mt-3"> Usa el usuario <strong>Carlos</strong> con la contraseña <strong>carlos123</strong> para ver como funciona el sistema <strong>CRUD</strong></h2>
        <h5 class="text-center">(Create, Read, Update, Delete)</h5>
        <h2 class="text-center mt-3"> Tambien puedes <strong>Crear una cuenta</strong> y añadir tus propios contactos y tareas y manejarlos con el sistema <strong>CRUD</strong> </h2>
        <h5 class="text-center">(Create, Read, Update, Delete)</h5>
    </div>
</div>
{% endblock content %}