@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x:hidden;

}

.nav {
    color: black;
    list-style: none;
    background-color: rgb(208, 247, 197);
}

.log {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 2rem;
}

.sign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: black;
    list-style: none;
    font-size: 2rem;
    background-color: rgb(208, 247, 197);
}

.sign li {
    margin-right: 1rem;
}

.log li {
    margin-right: 1rem;
}

.nav a {
    text-decoration: none;
}

.nav a:-webkit-any-link {
    color: black;
    cursor: pointer;
}

.nav a:hover {
    color: rgb(58, 89, 146);
    cursor: pointer;
}

.nav-task a {
    text-decoration: none;
}
.nav-task a:-webkit-any-link {
    color: black;
    cursor: pointer;
}

.nav-task a:hover {
    color: rgb(58, 89, 146);
    cursor: pointer;
}
.forms {
    margin-top: 2rem;
}
.create-task p{
    display: flex;
    align-items: center;
    margin: 0.2rem;
}
.create-task label{
    margin: 0rem 1rem;
}

label {
    margin: 1rem 0rem;
}
h2{
    margin:0px;
}
h3{
    margin:0px;
}
p{
    margin:0px;
}

#submit {
    margin-top: 1rem;
}

.error {
    color: red;
}

.task-view {
    margin: 0.5rem 0rem;
}
.btn{
    padding: 0.4rem;
    font-size: 0.85rem;
    color:white;
}

.task-important{
    background-color: rgb(162, 255, 177);
    border: rgb(162, 255, 177) 3px solid;
}
.nav-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    list-style: none;
    font-size: 1.5rem;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
}
.nav-task a:hover {
    color: rgb(0, 89, 255);
    cursor: pointer;
}

.contact-col{
    display: flex;
    flex-direction: column;
    background-color: #d6dff1;
    color: black;
    border: 2px solid black; 
    border-radius: 1rem;
}
.text-name{
    margin-top: 0rem;
}

.bi{
    font-size: 2.5rem;
}
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}
.data .label{
    margin-bottom: 0;
    font-size: 1rem;
    margin-left: 1rem;
}
.data .datadata{
    margin-bottom: 0;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttons .btn{
    margin:0rem 0.5rem;
    
    width: 10rem;
}
.btn-tasks .btn{
    margin:0rem 0.5rem;
    font-size: 1.2rem;
}
.cat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.aviso{
    font-size: 0.85rem;
}
.nav-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    list-style: none;
    font-size: 1rem;
    gap: 0.3rem;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
}
.nav-contact a:hover {
    color: rgb(0, 89, 255);
    cursor: pointer;
}
.nav-contact a:-webkit-any-link {
    color: black;
    cursor: pointer;
}
.nav-group{
    gap: 1.5rem;
}

.create-task input{
    width: 20rem;
}
form .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form .card-body input{
    border-radius: 0.2rem;
    border: none;
    background-color: rgb(205, 255, 238);
}

form .card-body input[type=submit]{
    background-color: rgb(0, 48, 32);
}
#inicia{
    font-size:1.3rem;
}
.home{
    font-size: 2rem;
    background-color: rgb(180, 255, 230);
}

.home a:hover {
    color: rgb(0, 89, 255);
    cursor: pointer;
    background-color: rgb(180, 255, 190);
}
.home a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-task {
        padding: 0;
        gap: 1.5rem;
        font-size: 1.1rem;
    }
    .cat{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
    }
    .bi{
        font-size: 1.7rem;
    }
}
