<nav >
    <div class="col-12">
        <ul class="nav-contact">
            <li><a href={% url 'contacts' "A" %}>A</a></li>
            <li><a href={% url 'contacts' "B" %}>B</a></li>
            <li><a href={% url 'contacts' "C" %}>C</a></li>
            <li><a href={% url 'contacts' "D" %}>D</a></li>
            <li><a href={% url 'contacts' "E" %}>E</a></li>
            <li><a href={% url 'contacts' "F" %}>F</a></li>
            <li><a href={% url 'contacts' "G" %}>G</a></li>
            <li><a href={% url 'contacts' "H" %}>H</a></li>
            <li><a href={% url 'contacts' "I" %}>I</a></li>
            <li><a href={% url 'contacts' "J" %}>J</a></li>
            <li><a href={% url 'contacts' "K" %}>K</a></li>
            <li><a href={% url 'contacts' "L" %}>L</a></li>
            <li><a href={% url 'contacts' "M" %}>M</a></li>
            <li><a href={% url 'contacts' "N" %}>N</a></li>
            <li><a href={% url 'contacts' "O" %}>O</a></li>
            <li><a href={% url 'contacts' "P" %}>P</a></li>
            <li><a href={% url 'contacts' "Q" %}>Q</a></li>
            <li><a href={% url 'contacts' "R" %}>R</a></li>
            <li><a href={% url 'contacts' "S" %}>S</a></li>
            <li><a href={% url 'contacts' "T" %}>T</a></li>
            <li><a href={% url 'contacts' "U" %}>U</a></li>
            <li><a href={% url 'contacts' "V" %}>V</a></li>
            <li><a href={% url 'contacts' "W" %}>W</a></li>
            <li><a href={% url 'contacts' "X" %}>X</a></li>
            <li><a href={% url 'contacts' "Y" %}>Y</a></li>
            <li><a href={% url 'contacts' "Z" %}>Z</a></li>
            
        </ul>
    </div>
</nav>
